<div class="container-svg">
    <svg id="svg2" xmlns:svg="http://www.w3.org/2000/svg" width="" height="100%" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" viewbox="0 0 800 832" xml:space="preserve">
    <!-- preserveAspectRatio="none"  -->
    <defs>
      <lineargradient id="grad-1" x1="0%" y1="0%" x2="0%" y2="100%" spreadmethod="pad">
        <stop offset="0%" stop-color="#5264AE" stop-opacity=".8">
          <stop offset="50%" stop-color="#fff" stop-opacity=".1"></stop>
        </stop>
      </lineargradient>
    </defs>
    <g id="Everything" style="fill:none ;stroke:url(#grad-1); stroke-width: 1 ;stroke-linecap:round;stroke-linejoin:round" class="path">
      <path id="E1" style="stroke:url(#grad-1);" d="M 0,0 80,46.188022 80,138.56407 0,92.376043"></path>
      <path id="E2" style="stroke:url(#grad-1);" d="M 800,0 720,46.188022 720,138.56407 800,92.376043"></path>
      <path id="E3" style="stroke:url(#grad-1);" d="M 0,184.75209 80,138.56407 80,230.94011 0,277.12813"></path>
      <path id="E4" style="stroke:url(#grad-1);" d="M 800,184.75209 720,138.56407 720,230.94011 800,277.12813"></path>
      <g id="V1">
        <path style="stroke:url(#grad-1); stroke-width: 1;" d="M 160,0 240,46.188022 240,138.56407 160,92.376043 160,0 z"></path>
        <path style="stroke:url(#grad-1); stroke-width: 1;" d="M 160,0 160,92.376043 80,138.56406 80,46.188022 160,0 z"></path>
      </g>
      <g id="V2">
        <path d="M 80,138.56406 160,184.75209 160,277.12813 80,230.94011 z"></path>
        <path d="M 240,138.56406 160,184.75209 160,277.12813 240,230.94011 z"></path>
      </g>
      <use xlink:href="#V1" transform="translate(160,0)"></use>
      <use xlink:href="#V1" transform="translate(320,0)"></use>
      <use xlink:href="#V1" transform="translate(480,0)"></use>
      <use xlink:href="#V1" transform="translate(0,277.12813)"></use>
      <use xlink:href="#V1" transform="translate(160,277.12813)"></use>
      <use xlink:href="#V1" transform="translate(320,277.12813)"></use>
      <use xlink:href="#V1" transform="translate(480,277.12813)"></use>
      <use xlink:href="#V1" transform="translate(0,554.25626)"></use>
      <use xlink:href="#V1" transform="translate(160,554.25626)"></use>
      <use xlink:href="#V1" transform="translate(320,554.25626)"></use>
      <use xlink:href="#V1" transform="translate(480,554.25626)"></use>
      <use xlink:href="#V2" transform="translate(160,0)"></use>
      <use xlink:href="#V2" transform="translate(320,0)"></use>
      <use xlink:href="#V2" transform="translate(480,0)"></use>
      <use xlink:href="#V2" transform="translate(160,277.12813)"></use>
      <use xlink:href="#V2" transform="translate(320,277.12813)"></use>
      <use xlink:href="#V2" transform="translate(480,277.12813)"></use>
      <use xlink:href="#V2" transform="translate(0,554.25626)"></use>
      <use xlink:href="#V2" transform="translate(160,554.25626)"></use>
      <use xlink:href="#V2" transform="translate(320,554.25626)"></use>
      <use xlink:href="#V2" transform="translate(480,554.25626)"></use>
      <use xlink:href="#V2" transform="translate(0,277.12813)"></use>
      <use xlink:href="#E1" transform="translate(0,277.12813)"></use>
      <use xlink:href="#E1" transform="translate(0,554.25626)"></use>
      <use xlink:href="#E2" transform="translate(0,277.12813)"></use>
      <use xlink:href="#E2" transform="translate(0,554.25626)"></use>
      <use xlink:href="#E3" transform="translate(0,277.12813)"></use>
      <use xlink:href="#E3" transform="translate(0,554.25626)"></use>
      <use xlink:href="#E4" transform="translate(0,277.12813)"></use>
      <use xlink:href="#E4" transform="translate(0,554.25626)"></use>
    </g>
  </svg>
</div>